*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

html,
body {
  font-family: "Lexend", sans-serif;
}

body {
  overflow-anchor: none;
}

a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

section,
header {
  padding: 0px 20px;
}

.container {
  width: 100%;
  max-width: 1200px;
}

.section-title h6 {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #f59e0b;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  line-height: 18px;
  text-transform: capitalize;
}
.section-title h6::before {
  content: "";
  display: block;
  position: relative;
  height: 1px;
  width: 32px;
  top: 0;
  left: 0;
  background: #f59e0b;
}
.section-title h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  text-transform: capitalize;
  color: #1b1c57;
  margin-left: 40px;
}

.user-info {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.user-info__col {
  display: flex;
}
.user-info__img {
  max-width: 56px;
  max-height: 56px;
  border-radius: 50%;
  margin-right: 24px;
}
.user-info__info {
  margin-right: 57px;
}
.user-info__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  line-height: 24px;
  color: #0e1735;
}
.user-info__position {
  margin-top: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #888b97;
}
.user-info__rating {
  display: flex;
  align-items: center;
  gap: 18px;
}
.user-info__star {
  max-height: 24px;
}

@media screen and (max-width: 550px) {
  .user-info__img {
    max-width: 42px;
    max-height: 42px;
    margin-right: 5px;
  }
  .user-info__name {
    font-size: 11px;
  }
  .user-info__position {
    margin: 0;
    font-size: 10px;
  }
  .user-info__star {
    max-height: 17px;
  }
}
.header {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}
.header__container {
  padding-top: 46px;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 12px;
}
.header__logo__icon {
  transition: 0.25s;
}
.header__logo:hover .header__logo__icon {
  transform: rotate(360deg);
}
.header__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #1b1c57;
}

.nav__burger {
  width: 20px;
  height: 20px;
  display: none;
}
.nav__burger span {
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background: #1b1c57;
}
.nav__links {
  position: relative;
  display: flex;
  align-items: center;
  gap: 24px;
}
.nav__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  position: relative;
  padding: 8px 16px;
  max-height: 34px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 32px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #f0f3fd;
  transition: 0.4s;
}
.nav__link:hover {
  background: #fff;
  color: rgba(99, 99, 99, 0.7);
}
.nav__sign__up {
  margin-left: 32px;
  padding: 12px 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #047857;
  line-height: 22px;
  background: #d1fae5;
  border-radius: 32px;
  transition: 0.4s;
}
.nav__sign__up:hover {
  background: #047857;
  color: #d1fae5;
}
.nav__isextendible {
  position: relative;
}
.nav__isextendible:hover .nav__extendible {
  display: block;
}
.nav__isextendible::after {
  content: "";
  position: relative;
  z-index: 5;
  height: 6px;
  width: 11px;
  background: url("../images/icons/arrow-down-white.svg");
}
.nav__extendible {
  width: 100%;
  position: absolute;
  top: 40px;
  left: 0;
  border-radius: 15px;
  display: none;
  background: #fff;
  color: rgba(99, 99, 99, 0.7);
}
.nav__extendible ul {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .header {
    position: relative;
    background: #81c2e3;
  }
  .header__container {
    flex-direction: column;
    gap: 20px;
  }
  .nav {
    flex-direction: column;
  }
  .nav__links {
    display: none;
  }
  .nav__burger {
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: absolute;
    right: 20px;
    top: 58px;
  }
  .nav__link {
    width: 100%;
    justify-content: center;
  }
  .nav__burger:hover + .nav__links {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 20px 0px;
  }
  .nav__sign__up {
    margin: 0;
  }
}
@media screen and (max-width: 1200px) {
  .nav__links {
    gap: 8px;
    justify-content: space-around;
  }
  .nav__sign__up {
    margin: 0;
  }
}
.hero {
  display: flex;
  justify-content: center;
  height: 100vh;
  position: relative;
}
.hero__container {
  width: 100%;
  display: flex;
  gap: 104px;
}
.hero__gradient {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -2;
  width: 600px;
  height: 500px;
  background: radial-gradient(circle at top left, rgba(130, 247, 255, 0.3803921569) 0, rgba(130, 255, 209, 0.4274509804) 34%, #fff 63%);
}
.hero__info {
  margin-top: 182px;
  max-width: 496px;
  position: relative;
}
.hero__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  text-transform: capitalize;
  color: #1b1c57;
}
.hero__title span {
  color: #fff;
  text-shadow: 0 0 2px #1b1c57, 0 0 2px #1b1c57, 0 0 2px #1b1c57, 0 0 2px #1b1c57;
}
.hero__descr {
  margin-top: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  line-height: 28px;
  color: #626687;
}
.hero__partnership {
  margin-top: 32px;
}
.hero__partnership__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #888b97;
}
.hero__partners {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}
.hero__stats__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  background: url("../images/hero/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 50%;
  overflow: hidden;
}
.hero__slider {
  display: block;
  overflow: hidden;
  position: absolute;
  bottom: 38px;
  left: 48px;
  max-width: 100%;
}
.hero__stats {
  display: block;
  position: relative;
  width: 100%;
  display: flex;
  gap: 16px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}
.hero__stats::-webkit-scrollbar {
  display: none;
}
.hero__stats .stat-block:first-child {
  width: 328px;
}

.input-search-wrapper {
  margin-top: 32px;
  display: flex;
  position: relative;
}
.input-search-wrapper .input-search {
  width: 100%;
  display: flex;
  background: #fff;
  border: 1px solid #e0e3eb;
  border-radius: 32px;
  padding: 17px 0px 17px 64px;
}
.input-search-wrapper .input-search::-moz-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #888b97;
}
.input-search-wrapper .input-search:-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #888b97;
}
.input-search-wrapper .input-search::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #888b97;
}
.input-search-wrapper .input-search__location,
.input-search-wrapper .input-search__button {
  position: absolute;
  z-index: 5;
  top: 50%;
  transform: translateY(-50%);
}
.input-search-wrapper .input-search__location {
  left: 27px;
}
.input-search-wrapper .input-search__button {
  display: block;
  position: absolute;
  right: 2px;
  padding: 12px 16px;
  background: #10b981;
  border: 1px solid #10b981;
  border-radius: 32px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  line-height: 22px;
  color: #fff;
  cursor: pointer;
  transition: all 0.4s ease-in;
}
.input-search-wrapper .input-search__button:hover {
  background: #fff;
  color: #10b981;
}

.stat-block {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  max-width: 328px;
  max-height: 114px;
  padding: 24px;
  display: flex;
  gap: 16px;
  background: #fff;
  border-radius: 32px;
  cursor: pointer;
}
.stat-block__photos {
  display: flex;
}
.stat-block__photos img:not(:first-child) {
  position: relative;
  margin-left: -27px;
}
.stat-block img {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.stat-block h5 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #1b1c57;
}
.stat-block p {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #626687;
}

@media screen and (max-width: 1024px) {
  .hero__stats__wrapper {
    width: 100%;
  }
  .hero__gradient {
    display: none;
  }
  .hero__container {
    justify-content: center;
  }
  .hero__partnership {
    display: none;
  }
  .hero__descr {
    color: #1b1c57;
  }
}
@media screen and (max-width: 768px) {
  .hero__stats__wrapper {
    width: 100%;
  }
  .hero__gradient {
    display: none;
  }
  .hero__container {
    justify-content: center;
  }
  .hero__info {
    margin-top: 80px;
  }
}
@media screen and (max-width: 425px) {
  .input-search-wrapper .input-search {
    padding: 17px 0px 17px 35px;
  }
  .input-search-wrapper .input-search::-moz-placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }
  .input-search-wrapper .input-search:-ms-input-placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }
  .input-search-wrapper .input-search::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }
  .input-search-wrapper .input-search__location {
    left: 8px;
  }
  .input-search-wrapper .input-search__button {
    padding: 12px 9px;
    font-size: 13px;
  }
}
.featured {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 130px;
}
.featured__header {
  display: flex;
  justify-content: space-between;
}
.featured__house__types {
  display: flex;
  gap: 32px;
}
.featured__house__type {
  padding: 12px 24px;
  background: #fff;
  border: 1px solid #e0e3eb;
  border-radius: 32px;
  cursor: pointer;
  transition: 0.4s;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #888b97;
}
.featured__house__type svg {
  margin-right: 8px;
  max-height: 18px;
}
.featured__house__type svg > path {
  fill: #888b97;
}
.featured__house__type:hover {
  border-color: #d1fae5;
  background: #d1fae5;
  color: #10b981;
}
.featured__house__type:hover svg > path {
  fill: #10b981;
}
.featured_active {
  border-color: #10b981;
  background: #10b981;
  color: #fff;
}
.featured_active svg > path {
  fill: #fff;
}
.featured__controls {
  display: flex;
  gap: 16px;
}
.featured__controls button {
  width: 60px;
  height: 52px;
  padding: 12px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #10b981;
  border: none;
  border-radius: 32px;
  transition: 0.4s;
  cursor: pointer;
}
.featured__controls button:hover {
  background: #fff;
  border: 1px solid #10b981;
}
.featured__controls button:hover svg > path {
  fill: #10b981;
}
.featured__controls button:disabled {
  background: #e0e3eb;
}
.featured__controls button:disabled svg > path {
  fill: #3c4563;
}
.featured__forward svg {
  transform: rotate(90deg);
}
.featured__backward svg {
  transform: rotate(-90deg);
}
.featured__slider {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  max-width: 1100px;
}
.featured__houses {
  margin-top: 40px;
  display: flex;
  gap: 40px;
  justify-content: flex-start;
  overflow-x: scroll;
  position: relative;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}
.featured__houses::-webkit-scrollbar {
  display: none;
}

.house {
  max-width: 340px;
  flex-shrink: 0;
  scroll-snap-align: center;
  transform-origin: center center;
  transform: scale(1);
  cursor: pointer;
}
.house__img__wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 24px;
}
.house__img__wrapper:hover .house__img {
  transform: scale(1.1);
}
.house__img {
  width: 100%;
  border-radius: 24px;
  transition: 0.4s;
}
.house__title {
  margin-top: 24px;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #0e1735;
  transition: 0.4s;
}
.house__title:hover {
  color: #3c4563;
}
.house__price {
  margin-top: 8px;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  font-size: 20px;
  color: #3c4563;
  transition: 0.4s;
}
.house__price:hover {
  color: #0e1735;
}
.house_popular .house__img__wrapper::before {
  content: "Popular";
  color: #ef4444;
  padding: 8px 16px 8px 42px;
  background-color: #fee2e2;
  position: absolute;
  bottom: 16px;
  left: 16px;
  border-radius: 32px;
  background-image: url("../images/icons/popular.svg");
  background-repeat: no-repeat;
  background-position: center left 16px;
  z-index: 10;
}
.house_new .house__img__wrapper::before {
  content: "New House";
  color: #1d4ed8;
  padding: 8px 16px 8px 42px;
  background-color: #dbeafe;
  position: absolute;
  bottom: 16px;
  left: 16px;
  border-radius: 32px;
  background-image: url("../images/icons/house-small.svg");
  background-repeat: no-repeat;
  background-position: center left 16px;
  z-index: 10;
}
.house_best .house__img__wrapper::before {
  content: "Best Deals";
  color: #047857;
  padding: 8px 16px 8px 42px;
  background-color: #d1fae5;
  position: absolute;
  bottom: 16px;
  left: 16px;
  border-radius: 32px;
  background-image: url("../images/icons/best_deals.svg");
  background-repeat: no-repeat;
  background-position: center left 16px;
  z-index: 10;
}

.customer {
  margin-top: 24px;
  display: flex;
  gap: 16px;
}
.customer__img {
  max-height: 40px;
}
.customer__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  line-height: 24px;
  color: #0e1735;
}
.customer__address {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #888b97;
}

@media screen and (max-width: 1024px) {
  .featured__header {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .featured__slider {
    max-width: 760px;
  }
  .featured__houses {
    gap: 0;
  }
  .featured .house {
    margin: 0px 20px;
  }
}
@media screen and (max-width: 768px) {
  .featured__slider {
    max-width: 380px;
  }
  .featured__house__types {
    flex-direction: column;
  }
}
.tour {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  position: relative;
}
.tour__bg {
  position: absolute;
  top: -200px;
  right: 0;
  background: url("../images/tour/gradient.png");
  background-size: contain;
  background-position: top 34% right;
  background-repeat: no-repeat;
  height: 100%;
  width: 550px;
}
.tour__container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
.tour__col {
  margin-top: 29px;
}
.tour__info {
  max-width: 564px;
  padding-left: 40px;
}
.tour__descr {
  margin-top: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #888b97;
}
.tour__details {
  margin-top: 16px;
  padding-bottom: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  border-bottom: 2px solid #f0f3fd;
}
.tour__details__title {
  margin-top: 16px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  line-height: 28px;
  color: #1b1c57;
}
.tour__detail {
  display: flex;
  gap: 16px;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 20px;
  text-transform: capitalize;
  color: #3c4563;
}
.tour__detail__icon {
  width: 32px;
  height: 32px;
}
.tour__contact {
  display: flex;
  margin-top: 32px;
}
.tour__contact__img {
  max-width: 56px;
  max-height: 56px;
  border-radius: 50%;
  margin-right: 24px;
}
.tour__contact__info {
  margin-right: 57px;
}
.tour__contact__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  line-height: 24px;
  color: #0e1735;
}
.tour__contact__position {
  margin-top: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #888b97;
}
.tour__contact__phone {
  max-height: 48px;
  display: flex;
  align-items: center;
  padding: 12px 16px;
  gap: 16px;
  background: #10b981;
  border: 1px solid #10b981;
  border-radius: 32px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  line-height: 22px;
  color: #fff;
  transition: 0.4s;
}
.tour__contact__phone:hover {
  background: #fff;
  color: #10b981;
}
.tour__contact__phone:hover svg > path {
  fill: #10b981;
}
.tour__media {
  position: relative;
}
.tour__media__bottom {
  position: relative;
  display: flex;
  align-items: flex-end;
  gap: 12px;
  top: -125px;
  left: -40px;
}
.tour__media__bottom img {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 100%;
}
.tour__media img {
  position: relative;
  max-width: 100%;
  transition: 0.4s;
}
.tour__media img:hover {
  z-index: 10;
}
.tour__media::before {
  content: "";
  position: absolute;
  top: 32%;
  left: 46%;
  z-index: 20;
  width: 48px;
  height: 48px;
  background: url("../images/tour/play.png");
  cursor: pointer;
}

@media screen and (max-width: 1150px) {
  .tour__bg {
    display: none;
  }
  .tour__container {
    flex-direction: column;
    align-items: center;
  }
  .tour__media__bottom {
    position: absolute;
    left: 0;
    bottom: -10%;
  }
}
@media screen and (max-width: 768px) {
  .tour__info {
    padding: 0;
  }
  .tour__contact__img {
    max-width: 42px;
    max-height: 42px;
    margin-right: 10px;
  }
  .tour__contact__info {
    margin-right: 10px;
  }
  .tour__contact__name {
    font-size: 15px;
  }
  .tour__contact__position {
    font-size: 13px;
  }
  .tour__contact__phone {
    padding: 12px 10px;
    font-size: 12px;
  }
  .tour__contact__phone svg {
    display: none;
  }
}
.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}
.reviews__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews__slides {
  margin-top: 40px;
}
.reviews__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews__title h2 {
  margin: 0;
}
.reviews__title h6::before {
  position: absolute;
  left: 50%;
  top: -8px;
  transform: translateX(-50%);
}
.reviews__anchors {
  position: relative;
  bottom: 78px;
  display: flex;
  justify-content: center;
  gap: 16px;
}
.reviews__anchors .anchor_active {
  background: #3c4563;
}
.reviews__anchors a {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #e0e3eb;
}
.reviews__anchors a:hover {
  background: #3c4563;
}

.slider {
  width: 100%;
  max-width: 750px;
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  position: relative;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}
.slides::-webkit-scrollbar {
  display: none;
}
.slides .slide {
  width: 100%;
  max-width: 740px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  scroll-snap-align: center;
  transform-origin: center center;
  transform: scale(1);
  overflow: hidden;
  cursor: pointer;
  border-radius: 8px;
}
.slides .slide__img {
  width: 100%;
  max-height: 400px;
  transition: 0.4s;
}
.slides .slide__review {
  position: relative;
  top: -20%;
  width: 83%;
  max-width: 612px;
  padding: 32px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
  transition: 0.4s;
}
.slides .slide__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  text-transform: capitalize;
  color: #1b1c57;
}
.slides .slide__descr {
  margin-top: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #626687;
  opacity: 0.75;
}
.slides .slide:hover .slide__review {
  width: 90%;
  max-width: 90%;
}
.slides .slide:hover img {
  transform: scale(1.1);
}
.slides__user__info {
  margin-top: 24px;
}

@media screen and (max-width: 550px) {
  .slides .slide__title {
    font-size: 14px;
  }
  .slides .slide__descr {
    margin-top: 7px;
    font-size: 11px;
  }
  .slides .slide__review {
    padding: 15px;
  }
}
.tips {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 200px;
}
.tips__bg {
  position: absolute;
  top: 0px;
  left: 0;
  background: url("../images/tips/gradient.png");
  background-size: contain;
  background-position: top -73px left;
  background-repeat: no-repeat;
  height: 100%;
  width: 550px;
  z-index: -1;
}
.tips__more {
  display: block;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 24px auto 0px;
  border: 1px solid #10b981;
  border-radius: 32px;
  padding: 12px 16px;
  background: #10b981;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  line-height: 22px;
  color: #fff;
  transition: 0.4s;
}
.tips__more:hover {
  background: #fff;
  color: #10b981;
}
.tips__articles {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 148px);
  gap: 42px;
}

.article {
  max-width: 572px;
  display: flex;
  gap: 32px;
}
.article__img {
  border-radius: 16px;
  height: 144px;
  max-width: 200px;
  cursor: pointer;
}
.article__author {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}
.article__author__img {
  height: 32px;
  max-width: 32px;
  border-radius: 50%;
}
.article__author__name {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  line-height: 22px;
  color: #3c4563;
}
.article__title {
  margin-top: 12px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  line-height: 32px;
  text-transform: capitalize;
  color: #1b1c57;
  transition: 0.4s;
  cursor: pointer;
}
.article__title:hover {
  color: #888b97;
}
.article__descr {
  display: none;
  margin-top: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #626687;
  opacity: 0.75;
}
.article__time {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.article__time__details {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #888b97;
}
.article:last-child {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.article_big {
  flex-direction: column;
  transition: 0.4s;
}
.article_big .article__img {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 100%;
  border-radius: 0;
}
.article_big .article__descr {
  display: block;
}

@media screen and (max-width: 1024px) {
  .tips__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tips__articles {
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .article:last-child {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}
@media screen and (max-width: 768px) {
  .tips__bg {
    display: none;
  }
  .tips__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tips__articles {
    grid-template-columns: minmax(270px, 500px);
    grid-template-rows: 1fr;
  }
  .tips__articles .article {
    flex-direction: column;
    align-items: center;
  }
  .article__img {
    width: 70%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-width: 100%;
  }
  .article__img_big {
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  .article__img {
    width: 90%;
  }
  .article__img_big {
    width: 100%;
  }
}
.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}
.subscribe__container {
  background: url("../images/subscribe/bg_full.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  padding: 65px 0px;
}
.subscribe__content {
  width: 496px;
}
.subscribe__title {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  line-height: 48px;
  text-align: center;
  text-transform: capitalize;
  color: #1b1c57;
}

@media screen and (max-width: 768px) {
  .subscribe__container {
    padding: 20px;
  }
  .subscribe__title {
    font-size: 26px;
  }
}
@media screen and (max-width: 425px) {
  .subscribe__title {
    font-size: 13px;
    line-height: 33px;
  }
  .subscribe__button {
    font-size: 12px;
  }
}
.join {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 78px 0px 74px;
  margin-top: 79px;
}
.join__container {
  display: grid;
  grid-template-columns: 1fr 1.65fr;
  gap: 36px;
}
.join__info, .join__form__wrapper {
  background: #fff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.join__info {
  padding: 20px 16px 0px 26px;
  position: relative;
}
.join__info__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #0c1930;
  position: relative;
}
.join__info__advantages {
  margin-top: 20px;
}
.join__info__advantage {
  position: relative;
  margin-top: 44px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 19px;
  color: #0c1930;
}
.join__info__advantage:not(:last-child)::after {
  content: "";
  position: relative;
  display: block;
  top: 21px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 40px;
  background: #10b981;
  border-radius: 4px;
}
.join__info__advantage:first-child {
  margin-top: 0;
}
.join__info__img__wrapper {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 61px auto 0px;
}
.join__form__wrapper {
  padding: 38px 37px 24px 41px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.form__row {
  display: flex;
  justify-content: space-between;
  gap: 27px;
}
.form__row label {
  min-width: 119px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  gap: 4px;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  line-height: 24px;
  text-align: right;
  color: #000;
}
.form__row label::before {
  content: "";
  position: relative;
  top: -2px;
  right: 4px;
  display: block;
  background: url("../images/join/asterisk.svg");
  width: 6px;
  height: 7px;
  background-repeat: no-repeat;
}
.form__row input,
.form__row select,
.form__row textarea {
  width: 100%;
  max-width: 506px;
  border: 1px solid #434343;
  border-radius: 2px;
  padding: 8px 12px;
}
.form__row input::-moz-placeholder, .form__row select::-moz-placeholder, .form__row textarea::-moz-placeholder {
  font-family: Lexend;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  line-height: 24px;
  color: #7d7d7d;
}
.form__row input:-ms-input-placeholder, .form__row select:-ms-input-placeholder, .form__row textarea:-ms-input-placeholder {
  font-family: Lexend;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  line-height: 24px;
  color: #7d7d7d;
}
.form__row input::placeholder,
.form__row input select option,
.form__row select::placeholder,
.form__row select select option,
.form__row textarea::placeholder,
.form__row textarea select option {
  font-family: Lexend;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  line-height: 24px;
  color: #7d7d7d;
}
.form textarea {
  resize: none;
  height: 64px;
}
.form__select {
  font-family: Lexend;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  line-height: 24px;
  color: #7d7d7d;
}
.form__confirm {
  align-self: flex-end;
}
.form__agree__label {
  width: 100%;
  max-width: 506px;
  margin-left: 0;
  display: flex;
  gap: 8px;
}
.form__agree__label span {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #000;
}
.form__agree__label span a {
  text-decoration: underline;
  color: #10b981;
}
.form__submit {
  margin-top: 24px;
  padding: 8px 16px;
  height: 40px;
  background: #10b981;
  border: 1px solid #10b981;
  border-radius: 32px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  line-height: 0;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}
.form__submit:hover {
  background: #fff;
  color: #10b981;
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  margin: 0;
  width: 16px;
  height: 16px;
  background: #fff;
  border: 2px solid rgba(217, 217, 217, 0.5);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type=checkbox]::before {
  content: "";
  height: 8px;
  width: 10px;
  background: url("../images/join/check.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

input[type=checkbox]:checked {
  border-color: #10b981;
  background: #10b981;
}

input[type=checkbox]:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .join__container {
    grid-template-columns: 1fr;
  }
  .join__form__wrapper {
    display: flex;
    justify-content: center;
  }
  .join__info__title {
    text-align: center;
  }
  .join__info__advantage {
    text-align: center;
  }
  .form__row {
    flex-direction: column;
  }
  .form__confirm {
    align-self: flex-start;
  }
}
.footer {
  padding: 20px;
  margin: 71px 0px 93px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.footer__bg {
  position: absolute;
  bottom: -93px;
  right: 0;
  background: url("../images/footer/gradient.png");
  background-size: contain;
  background-position: bottom right;
  background-repeat: no-repeat;
  height: 200%;
  width: 740px;
  z-index: -1;
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
.footer__about {
  max-width: 320px;
}
.footer__descr {
  margin-top: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #626687;
  opacity: 0.75;
}
.footer__socials {
  display: flex;
  margin-top: 24px;
  gap: 24px;
}
.footer__links {
  display: flex;
  gap: 84px;
}
.footer__links__col {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.footer__links__col h4 {
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: #0e1735;
}
.footer__links a:hover {
  color: #0e1735;
}
.footer__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  line-height: 18px;
  text-transform: capitalize;
  color: #888b97;
  transition: 0.4s;
}
.footer__link:hover {
  color: #0e1735;
}

@media screen and (max-width: 1024px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  .footer__links {
    flex-wrap: wrap;
    justify-content: center;
  }
}/*# sourceMappingURL=main.css.map */