@mixin section-settings() {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin font-bold-small {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

@mixin font-semibold-normal {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

@mixin font-regular {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

@mixin font-regular-small {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

@mixin font-regular-mid {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

@mixin font-semibold-enormous {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
}

@mixin font-semibold-big {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

@mixin font-semibold-bigger {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}

@mixin font-semibold-mid {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
}

@mixin font-semibold-normal {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

@mixin font-medium {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

@mixin font-medium-mid {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

@mixin font-medium-big {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

@mixin font-medium-bigger {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

@mixin house-category($icon, $name, $color, $background) {
  content: $name;
  color: $color;
  padding: 8px 16px 8px 42px;
  background-color: $background;
  position: absolute;
  bottom: 16px;
  left: 16px;
  border-radius: 32px;
  background-image: url($icon);
  background-repeat: no-repeat;
  background-position: center left 16px;
}
