$color-green-lite: #d1fae5;
$color-green: #10b981;
$color-green-dark: #047857;
$color-blue-dark: #1b1c57;
$color-obsidian: #0e1735;
$color-blue-neutral: #3c4563;
$color-blue-lite: #626687;
$color-grey: #888b97;
$color-yellow-hot: #f59e0b;
$color-white-neutral: #f0f3fd;
$color-dark: #0c1930;
$color-black: #000;
$color-grey-mid: #7d7d7d;
$color-white: #fff;
$color-white-darker: #e0e3eb;
